
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*@{
            int st = (int)ViewData["m"] + (int)ViewData["n"];
        }


        @ViewData["b"];

        @ViewData["a"];

        @ViewData["names"];*@

        @*@ViewData["a"];
        @ViewBag["b"];
        @ViewBag[c];
        @TempData["t"];*@


        @*@st
        @{
            int c = ViewBag.p + ViewBag.q;
        }*@

        @*<a href="/Home/Mphasis">MPHASIS</a>
        <a href="/Home/cs">CS</a>
        <a href="Mphasis">mphasis Page</a>
        <a href=" C:\Users\dharavath.shirisha\Desktop\Asp.net\MVC\onlineshop1\Views\Home\Mphasis.cshtml">COMPANY</a>*@
        <h1> Welcome to Asp.net MVC</h1><hr>Contect of index

        @* @foreach (var item in ViewBag.d2)
            {
                <li>@item</li>
            }
            <hr />
            @foreach (var item in (string[])ViewData["d1"])
            {
                <li>@item</li>
            }
        </div>*@
    </div>                          
        </body>
        </html>
